
//font
$font: "Lora", serif;;

// space 
// $size-1: 8px;
$size-1: 8px;
$size-2: 18px;
$size-3: 24px;
$size-4: 32px;
$size-5: 40px;
$size-6: 48px;

// colors 
$primary-100: #F5F5F5;

$secondary-100: #5A2328;

$accent-100: #B6D7E1; 